:root {
  --size: 25px;
  --color: #E0E0E0;
  --background: #fc0;
}

.hotellist--rating-star,
.hotellist--rating-circle {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--size);
  font-family: Times; // make sure ★ appears correctly
  line-height: 1;

  &::before {
    content: '★★★★★';
    letter-spacing: 1px;
    background: linear-gradient(90deg, var(--background) var(--percent), var(--color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.hotellist--rating-circle {
  &::before {
    content: '●●●●●';
  }
}